.menu {
  background: lightslategrey;
  padding: 5px;
}

.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 15px;
  border-width: 6px;
  padding: 10px;
  margin-bottom: 10px;
}